@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Membership</title>
    <link rel="apple-touch-icon" sizes="180x180" href="~img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~img/favicon/favicon-16x16.png">
    <link rel="shortcut icon" type="image/png" href="~img/favicon/favicon.ico"/>
    <link rel="mask-icon" href="~img/favicon/safari-pinned-tab.svg" color="#68217a">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-config" content="~img/favicon/browserconfig.xml" />
    <meta name="msapplication-TileColor" content="#68217a">
    <meta name="theme-color" content="#68217a">
    <meta name="google-site-verification" content="F9a3IwT00fpPIErVTvIIqBcf2NEScrDCczZi4g9sul4" />
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet" data-no-mirror=data-no-mirror />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" data-no-mirror=data-no-mirror />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" data-no-mirror=data-no-mirror />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" data-no-mirror=data-no-mirror />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/home.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" data-no-mirror=data-no-mirror></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous" data-no-mirror=data-no-mirror></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha256-JtQPj/3xub8oapVMaIijPNoM0DHoAtgh/gwFYuN5rik=" crossorigin="anonymous" data-no-mirror=data-no-mirror></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" data-no-mirror=data-no-mirror></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" data-no-mirror=data-no-mirror></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js" integrity="sha256-4O4pS1SH31ZqrSO2A/2QJTVjTPqVe+jnYgOWUVr7EEc=" crossorigin="anonymous" data-no-mirror=data-no-mirror></script>

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body class="d-flex flex-column">
    <header class="page-header_wrapper" role="banner">
        <div class="site-nav_container container">
            <nav class="navbar navbar-expand-md align-items-end">
                <a class="navbar-brand" href="/"><img id="site-logo" src="/img/dotNetFoundationHorizontal.svg"></a>
                <button class="main-menu_toggle navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul id="main-menu" class="navbar-nav ml-auto">
                    <li class="nav-item dropdown main-menu_item">
                      <a class="nav-link dropdown-toggle-custom" id="membership-dropdown membership-dropdown--mobile" href="/member" role="button" aria-haspopup="true" aria-expanded="false">
                        Membership
                      </a>
                      <div class="dropdown-menu" aria-labelledby="membership-dropdown">
                        <a class="dropdown-item" href="/member/corporate-sponsors">Corporate Sponsors</a>
                        <a class="dropdown-item" href="/member/profile">Profile</a>
                        <a class="dropdown-item" href="/member/become-a-member">Become A Member</a>
                      </div>
                      <div class="mobile-items" aria-labelledby="membership-dropdown--mobile">
                        <a class="dropdown-item" href="/member">Membership</a>
                        <a class="dropdown-item" href="/member/corporate-sponsors">Corporate Sponsors</a>
                        <a class="dropdown-item" href="/member/profile">Profile</a>
                        <a class="dropdown-item" href="/member/become-a-member">Become A Member</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown main-menu_item">
                      <a class="nav-link dropdown-toggle-custom" id="projects-dropdown projects-dropdown--mobile" href="/projects" role="button" aria-haspopup="true" aria-expanded="false">
                        Projects
                      </a>
                      <div class="dropdown-menu projects-menu" aria-labelledby="projects-dropdown">
                          <a class="dropdown-item" href="/projects/why-join">Benefits</a>
                          <a class="dropdown-item" href="/projects/submit">Submit A Project</a>
                          <a class="dropdown-item" href="/projects/spotlight">Project Spotlight</a>
                          <a class="dropdown-item" href="/projects/archived-projects">Archived Projects</a>
                      </div>
                      <div class="mobile-items" aria-labelledby="projects-dropdown--mobile">
                        <a class="dropdown-item" href="/projects/why-join">Benefits</a>
                        <a class="dropdown-item" href="/projects">Projects</a>
                        <a class="dropdown-item" href="/projects/submit">Submit A Project</a>
                        <a class="dropdown-item" href="/projects/spotlight">Project Spotlight</a>
                        <a class="dropdown-item" href="/projects/archived-projects">Archived Projects</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown main-menu_item">
                      <a class="nav-link dropdown-toggle-custom" id="community-dropdown community-dropdown--mobile" href="/community" role="button" aria-haspopup="true" aria-expanded="false">
                        Community
                      </a>
                      <div class="dropdown-menu" aria-labelledby="community-dropdown">
                        <a class="dropdown-item" href="/community/committees">Committees</a>
                        <a class="dropdown-item" href="/community/meetups">.NET Meetups</a>
                        <a class="dropdown-item" href="/community/resources">Resources</a>
                        <a class="dropdown-item" href="https://store.dotnetfoundation.org">Store</a>
                      </div>
                      <div class="mobile-items" aria-labelledby="community-dropdown--mobile">
                        <a class="dropdown-item" href="/community">Community</a>
                        <a class="dropdown-item" href="/community/committees">Committees</a>
                        <a class="dropdown-item" href="/community/meetups">.NET Meetups</a>
                        <a class="dropdown-item" href="/community/get-involved">Get Involved</a>
                        <a class="dropdown-item" href="/community/resources">Resources</a>
                        <a class="dropdown-item" href="https://store.dotnetfoundation.org">Store</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown main-menu_item">
                      <a class="nav-link dropdown-toggle-custom" id="news-dropdown news-dropdown--mobile" href="/news" role="button" aria-haspopup="true" aria-expanded="false">
                        News
                      </a>
                      <div class="dropdown-menu news-menu" aria-labelledby="news-dropdown">
                        <a class="dropdown-item" href="/blog">Blog</a>
                      </div>
                      <div class="mobile-items" aria-labelledby="news-dropdown--mobile">
                        <a class="dropdown-item" href="/news">News</a>
                        <a class="dropdown-item" href="/blog">Blog</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown main-menu_item">
                      <a class="nav-link dropdown-toggle-custom" id="about-dropdown about-dropdown--mobile" href="/about" role="button" aria-haspopup="true" aria-expanded="false">
                        About
                      </a>
                      <div class="dropdown-menu about-menu" aria-labelledby="about-dropdown">
                        <a class="dropdown-item" href="/about/survey">Survey</a>
                        <a class="dropdown-item" href="/about/board-of-directors">Board of Directors</a>
                        <a class="dropdown-item" href="/about/budget">Budget</a>
                        <a class="dropdown-item" href="/about/technical-steering-group">Technical Steering Group</a>
                        <a class="dropdown-item" href="/about/code-of-conduct">Code of Conduct</a>
                        <a class="dropdown-item" href="/about/privacy-policy">Privacy Policy</a>
                        <a class="dropdown-item" href="/about/bylaws">Bylaws</a>
                        <a class="dropdown-item" href="/about/election">Election</a>
                        <a class="dropdown-item" href="/about/faq">FAQ</a>
                      </div>
                      <div class="mobile-items" aria-labelledby="about-dropdown--mobile">
                        <a class="dropdown-item" href="/about/survey">Survey</a>
                        <a class="dropdown-item" href="/about">About</a>
                        <a class="dropdown-item" href="/about/board-of-directors">Board of Directors</a>
                        <a class="dropdown-item" href="/about/budget">Budget</a>
                        <a class="dropdown-item" href="/about/technical-steering-group">Technical Steering Group</a>
                        <a class="dropdown-item" href="/about/code-of-conduct">Code of Conduct</a>
                        <a class="dropdown-item" href="/about/privacy-policy">Privacy Policy</a>
                        <a class="dropdown-item" href="/about/bylaws">Bylaws</a>
                        <a class="dropdown-item" href="/about/election">Election</a>
                        <a class="dropdown-item" href="/about/faq">FAQ</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown main-menu_item">
                      <a class="nav-link dropdown-toggle-custom" id="socialize-dropdown socialize-dropdown--mobile" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        Socialize
                      </a>
                      <div class="dropdown-menu socialize-menu" aria-labelledby="socialize-dropdown">
                        <a class="dropdown-item" href="https://twitter.com/dotnetfdn" target="_blank">Twitter</a>
                        <a class="dropdown-item" href="https://www.facebook.com/dotnetfoundation/" target="_blank">Facebook</a>
                        <a class="dropdown-item" href="/news">Newsletter</a>
                      </div>
                      <div class="mobile-items" aria-labelledby="socialize-dropdown--mobile">
                        <a class="dropdown-item" href="#">Socialize</a>
                        <a class="dropdown-item" href="https://twitter.com/dotnetfdn" target="_blank">Twitter</a>
                        <a class="dropdown-item" href="https://www.facebook.com/dotnetfoundation/" target="_blank">Facebook</a>
                        <a class="dropdown-item" href="/news">Newsletter</a>
                      </div>
                    </li>
                  </ul>
                </div>
            </nav>
        </div>
    </header>

    <div id="site_wrapper" class="container-fluid cs-container flex-fill">
        <main id="site_container" role="main" class="order-3">
            <section class="body-section">
                <div class="body-container">
                    @RenderBody()
                </div>
            </section>

            <!-- Footer -->
            <footer id="site-footer" class="sticky-bottom h-card">
                <data class="u-url" href=""></data>
                <div id="site-footer_container" class="container">
                    <div class="site-footer_row row">
                        <div class="col-12 d-flex justify-content-between align-items-center">
                            <img src="/img/logo_v4.svg" class="logo-footer">
                            <ul id="site-footer_menu" class="align-self-end">
                                <li>
                                    <a class="fab fa-github-square fa-3x" href="https://github.com/dotnet-foundation" target="_blank" alt="GitHub" aria-label="Find us on GitHub"></a>
                                    <a class="fab fa-twitter-square fa-3x" href="https://twitter.com/dotnetfdn" target="_blank" alt="Twitter" aria-label="Find us on Twitter"></a>
                                    <a class="fab fa-youtube-square fa-3x" href="https://www.youtube.com/channel/UCiaZbznpWV1o-KLxj8zqR6A" target="_blank" alt="YouTube" aria-label="Find us on YouTube"></a>
                                    <a class="fab fa-facebook-square fa-3x" href="https://www.facebook.com/dotnetfoundation/" target="_blank" alt="Facebook" aria-label="Find us on Facebook"></a>
                                </li>
                                <li><a href="/about/privacy-policy">Privacy Policy</a></li>
                                <li><a href="/about/code-of-conduct">Code of Conduct</a></li>
                                <li><a href="https://github.com/dotnet-foundation/membership/issues">Site Problem?</a></li>
                                <partial name="_LoginPartial" />
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="site-footer_bookend" class="">
                    <div class="site-footer_container container">
                        <div class="site-footer_row row">
                            <div class="col-12 d-flex justify-content-end">
                                <p class="site-footer_textSection">
                                    &copy; @DateTime.Now.Year .NET Foundation and Contributors.
                                </p>
                            </div>
                            <div class="col-12 d-flex justify-content-end">
                                <p class="site-footer_textSection">
                                    You can <a href="https://github.com/dotnet-foundation/membership">contribute to this site on GitHub.</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer End -->
        </main>
    </div>


    <partial name="_CookieConsentPartial" />

    @RenderSection("Scripts", required: false)

    <script>
        const $dropdown = $(".dropdown");
        const $dropdownToggle = $(".dropdown-toggle-custom");
        const $dropdownMenu = $(".dropdown-menu");
        const $mobileMenu = $(".mobile-items");
        const showClass = "show";
        $(window).on("load resize", function () {
            if (this.matchMedia("(min-width: 992px)").matches) {
                $dropdown.hover(
                    function () {
                        const $this = $(this);
                        $this.addClass(showClass);
                        $this.find($dropdownToggle).attr("aria-expanded", "true");
                        $this.find($dropdownMenu).addClass(showClass);
                    },
                    function () {
                        const $this = $(this);
                        $this.removeClass(showClass);
                        $this.find($dropdownToggle).attr("aria-expanded", "false");
                        $this.find($dropdownMenu).removeClass(showClass);
                    }
                );
            } else {
                $dropdown.off("mouseenter mouseleave");
                $dropdownToggle.click(function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    const $this = $(this);
                    const parent = $this.parent($dropdown);
                    if (parent.find($mobileMenu).hasClass(showClass)) {
                        parent.find($mobileMenu).removeClass(showClass);
                    } else {
                        parent.find($mobileMenu).addClass(showClass);
                    }
                })
            }
        });
    </script>
</body>
</html>
<!-- @Program.AssemblyInformationalVersion -->
