@model MemberModel
@{
    ViewData["Title"] = Model.DisplayName;
}

<h1>Profile for @Model.DisplayName</h1>

<div>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GivenName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GivenName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
       
    </dl>
</div>